* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('fundo2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

